<!DOCTYPE html>
<html>
<head>
    <title>Startpage</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div id="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
</div>
</body>
</html>
