html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  transition: background-color 0.5s ease;
  font-size: 12px;
  font-family: 'Cousine', monospace;
  background-color: #f7f3ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: #1f1f1f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#container {
  display: flex;
  flex-direction: column;
  padding: 120px;
  max-width: 1140px;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h2 {
  font-weight: bold;
  margin: 10px 0;
  text-transform: capitalize;
  color: #9e8de4;
}

small {
  color: #9e8de4;
  text-transform: uppercase;
}

.row {
  margin: 0 0 50px 0;
}

ul {
  padding: 0;
}

ul > li {
  margin: 0 0 15px 0;
}

#links {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

#art {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#art > img {
  height: auto;
  max-width: 280px;
  align-self: center;
}

#rssItems > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 50px;
}

li {
  padding: 0;
  list-style: none;
}

/*
    Media queries
    ------------
*/
@media only screen and (max-width: 900px) {
  body {
    display: block;
  }
  #container {
    padding: 0 20px;
  }
  body {
    align-items: normal;
    margin: 50px 0 0 0;
  }
  * {
    text-align: center;
    line-height: 2rem;
  }
  #links {
    grid-column: 1;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }

  #art {
    display: none;
  }

  #main {
    grid-template-columns: 1fr;
  }

  #rssItems > ul {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

/*
    Animations
    ------------
*/

.fade-in {
  animation: fadein ease-in 3s;
  -webkit-animation: fadein ease-in 3s;
  -moz-animation: fadein ease-in 3s;
  -o-animation: fadein ease-in 3s;
  -ms-animation: fadein ease-in 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
    Color scheme
    ------------
*/
.dark-mode body {
  background-color: #1f232f;
}

.dark-mode a, .dark-mode p, .dark-mode h5 {
  color: #e3e3e3;
  text-decoration: none;
}

.dark-mode textarea {
  background: #454d64;
  color: white;
  border: 1px solid #5f6985;
}

.dark-mode p#notesMessage {
  color: white;
}
